@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300&subset=latin,latin-ext);

* {
	font: inherit;
	color:inherit;
	margin:0;
	padding:0;
	text-decoration: inherit;
}

ul, ol { list-style-type: none; }

html {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	background-color: #eee;
	height: 100%;
}

html > body {
	color: #383F46;
	max-width: 65em;
	min-width: 10em;
	background-color: #fff;
	margin: 0 auto;
	padding: 1em;
	box-shadow: 0 0 1em #999;
}

header {
	background-color: #383F46;
	background-image: url(/tolon-header.svg);
	background-repeat: no-repeat;
	background-size: auto 3em;
	background-position: right;
	color: #fff;
	margin: -1em -1em 1em;
	padding: 1em;
	min-height: 3em;
}

footer {
	background-color: #383F46;
	color: #fff;
	font-size: .7rem;
	line-height: 1rem;
	margin: 1rem -1rem -1rem;
	padding: 1rem;
}


@media (max-width: 450px) {
	header {
		background-size: auto 2em;
		background-position: right 1em;
	}
}

@media (max-width: 320px) {
	header { background-image: none; }
}

em { font-weight: bolder; }

h1 {
	font-size: 2em;
}

sup {
	font-size: 60%;
	font-weight: bolder;
}

main > img {
	display: block;
	margin: 2em auto;
	width: 80%;
}

@media (max-width: 500px) {
	main > img { width: 100%; }
}

@media (min-width: 50em) {
	main > p { float: left; width: 30%; clear: left; margin-bottom: 1em; }
	main > h3 { clear: left; }
	main > img { width: 60%; margin: 2em; margin-left: auto; }
	main:after { content: " "; clear: both; display: block; }
	.narrow { display: none; }
}
@media (max-width: 50em) { .wide { display: none; }}

main > h3 {
	background-color: #383F46;
	color: white;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.8em;
	padding: 0 1em;
	margin: 1em -1em;
}

code {
	font-weight: bolder;
	background-color: rgba(56, 63, 70, 0.15);
	padding: 0 1ex;
	white-space: pre;
}

a { font-weight: bolder; }
a:hover { color: #FD764D; }

section.member {
    position: relative;
    padding-left: 11em;
	padding-right: 3em;
    min-height: 12em;
	float: left;
}

section.member img {
    position: absolute;
    width: 10em;
	min-height: 10em;
    top: 0;
    left: 0em;
	background-color: rgba(0, 0, 0, 0.15);
}

section.content {
    margin: 2em auto;
}

section.content p {
    margin: 1em auto;
}
