---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Tolon Support {{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/tolon.css' | relative_url }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        <header>
            <h1>Tolon Support</h1>
            <h2>{{ page.heading }}</h2>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>
                This guide is provided as is. Although we make the best efforts
                to keep it up to date, some errors may occur, and information may
                go stale. Please let us know at  <a href="mailto:help@tolon.com">help@tolon.com</a>
                if you think anything is out of place.
            </p>
        </footer>
    </body>
</html>
