---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Tolon K³ {{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/k3.css' | relative_url }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        <header>
            <h1>Tolon
                <abbr class="narrow" title="Corporate Identity Guide">CIG</abbr>
                <span class="wide" title="CIG">Corporate Identity Guide</span>
            </h1>
            <h2>{{ page.heading }}</h2>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>
                This guide is a work in progress, last updated on April 7, 2014.
                Get in touch with Mert Torun,
                <a href="mailto:mert@merttorun.com">mert@merttorun.com</a>
                for all questions about the corporate identity.
            </p>
        </footer>
    </body>
</html>
