---
---
<!DOCTYPE html>
<html>
    <head>
        <title>Tolon K³ {{ page.title }}</title>
        <link rel="stylesheet" href="{{ '/k3.css' | relative_url }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    </head>
    <body>
        <header>
            <h1>Tolon
                <abbr class="narrow" title="Kurumsal Kimlik Kılavuzu">K³</abbr>
                <span class="wide" title="K³">Kurumsal Kimlik Kılavuzu</span>
            </h1>
            <h2>{{ page.heading }}</h2>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p>
                Bu kılavuz süregelen bir çalışmanın ürünüdür, ve sürekli güncellenmektedir.
                Bu sayfa en son 7 Nisan 2014 tarihinde güncellenmiştir. Herhangi bir sorunuz için
                <a href="mailto:mert@merttorun.com">mert@merttorun.com</a> adresinden Mert Torun'a ulaşabilirsiniz.
            </p>
        </footer>
    </body>
</html>
