---
layout: home
---
<section class="content">
    {{ content }}
</section>


{% for email in site.data.teams[page.team] %}
{% assign contact = site.data.contacts[email] %}
<section class="member">
    <h1>{{ contact.name }}</h1>
    <h2>{{ contact.title }}</h2>
    <ul>
        <li><a href="mailto:{{email}}@tolon.com">{{email}}@tolon.com</a></li>
        {% if contact.mobile %}
        <li><a href="tel:{{contact.mobile}}">{{contact.mobile}}</a></li>
        {% endif %}
        {% if contact.ext %}
        <li>
            <a href="tel:{{contact.phone | default: site.data.contacts.defaults.phone}};ext={{contact.ext}}">
                {{ contact.phone | default: site.data.contacts.defaults.phone}}
                ext: {{ contact.ext }}
            </a>
        </li>
        {% endif %}
        <li>
            {% assign languages = contact.languages | default: site.data.contacts.defaults.languages %}
            {% assign language_names = '' | split: "" %}
            {%- for lang in languages -%}
                {% assign language_names = language_names | push: site.data.languages[lang] %}
            {%- endfor -%}

            {{ language_names | array_to_sentence_string }}

        </li>
    </ul>
    {% capture photo_url %}/contacts/photos/{{ email }}.jpg{% endcapture %}
    <img src="{{ photo_url | relative_url }}" alt="">
</section>
{% endfor %}
